<!-- More Calculators -->
<section class="page-section bg-light" id="{{ site.data.sitetext.more-calculators.section | default: "services" }}">
  <div class="container">
    {% include section-heading.html
      title=site.data.sitetext.more-calculators.title
      text=site.data.sitetext.more-calculators.text
      default_title="Services We Offer"
    %}
    {% include icon-card-deck.html
      deck_class="calculators"
      items=site.data.sitetext.more-calculators.list
    %}
  </div>
</section>
<!-- End More Calculators -->
