<!-- Text-Block -->
<section class="page-section" id="{{ site.data.sitetext.textblock-lite.section | default: "textblock" }}">
  <div class="container">

    <div class="row">
      <div class="col-sm-12 text-center">
        <h2 class="section-heading text-uppercase">
          {{ site.data.sitetext.textblock-lite.title | default: "Text Text-Block" }}</h2>
        {% if site.data.sitetext.textblock-lite.text %}
        <h3 class="textblock-subheading">{{ site.data.sitetext.textblock-lite.text }}</h3>
        {% endif %}
      </div>
    </div>

    <div class="row">
      <div class="col-lg-1 text-center"></div>
      <div class="col-lg-10 text-left">
        <div class="text-center">
          <a class="btn btn-textblock-lite btn-xl text-uppercase js-scroll-trigger" href="/contact/">Contact Us</a>
        </div>
        {% if site.data.sitetext.textblock-lite.footer %}
        <div class="text-muted text-center w-100">
          {{ site.data.sitetext.textblock-lite.footer | markdownify }}
        </div>
        {% endif %}
      </div>
      <div class="col-lg-1 text-center">
      </div>
    </div>

  </div>
</section>
<!-- End Text-Block -->
