.brand-logo {
  margin: $space-lg;
}

.client-logo {
  height: 100px;

  img {
    max-height: 120px;
  }
}

#clients .row {
  margin-top: $space-3xl;
}

#clients img {
  filter: grayscale(0.6);
  -webkit-filter: grayscale(0.6);
  transition: $transition-default;
  opacity: 0.7;
}

/* Disable grayscale on hover */
#clients img:hover {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
  opacity: 1;
}